<?xml version="1.0"?>
<launch>
    <arg name="respawn" default="false" />
    <arg name="debug" default="false" />
    <arg name="node_name" default="basler" />
    <arg name="mtu_size" default="1500" />
    <!-- <arg name="startup_user_set" default="CurrentSetting" /> -->
    <arg name="startup_user_set" default="UserSet2" />
    <arg name="enable_status_publisher" default="true" />
    <arg name="enable_current_params_publisher" default="true" />
    <!-- <arg name="config_file" default="$(find pylon_camera)/config/default.yaml" /> -->
    <arg name="config_file" default="$(find pylon_camera)/config/colour_camera.yaml" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <node name="$(arg node_name)" pkg="pylon_camera" type="pylon_camera_node" output="screen"
          respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load" file="$(arg config_file)" />
        <param name="gige/mtu_size" value="$(arg mtu_size)"/>
        <param name="startup_user_set" value="$(arg startup_user_set)"/>
        <param name="enable_status_publisher" value="$(arg enable_status_publisher)"/>
        <param name="enable_current_params_publisher" value="$(arg enable_current_params_publisher)"/>
	      <!-- <param name="image_encoding" value="yuv422"/>added to provide RGB -->

    </node>
   
   <!-- added to provide RGB ROS node-->
    <node ns="basler" name="rgb_converter" pkg="image_proc" type="image_proc" >
    </node>

    <!-- Adds a new node called image_resizer/image -->
    <!-- in the remap, the to="..." should be the actual topic we want to subscribe to -->
    <!-- <node pkg="nodelet" type="nodelet" name="image_resizer" args="standalone image_proc/resize">
      <param name="scale_width" type="double" value="0.5"/>
      <param name="scale_height" type="double" value="0.5"/>
        
      <remap from="image" to="/pylon_camera_node/image_color" /> 
      <remap from="camera_info" to="/pylon_camera_node/camera_info" />
    </node> -->

</launch>
